body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Helvetica", "FreeSans", "Arial", sans-serif !important;
    background-image: url("../assets/img/background.jpg");
}

h1 {
    margin: 0;
    padding: 0;
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

label {
    display: inline-block;
    min-width: 120px;
    color: white;
    font-size: smaller;
    text-align: right;
    padding-right: 5px;
}

#content {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.settings_form {
    padding-top: 10px;
}

.svg-container { 
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%; 
    vertical-align: middle; 
    overflow: hidden; 
    z-index: 100;
}

.svg-content { 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}